@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Paypal Sans";
    src: url("./fonts/Paypal\ Sans.ttf");
  }

body {
    font-family: "Paypal Sans", sans-serif;
}
