@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Paypal Sans";
    src: url("./fonts/Paypal\ Sans.ttf");
}

@font-face {
    font-family: "PayPal Sans Big Light Regular";
    src: url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot");
    src: url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/d8040e905cf0216b6e1b4e39b28d519a.svg#PayPal Sans Big Light Regular")
            format("svg");
}
body {
    font-family: "Paypal Sans Big Light Regular", sans-serif;
}

h1 {
    font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    font-size: 54px;
}
